.reset{
    margin: 10px;
    background-color: black;
    color: white;
    height: 35px;
    width: 75px;

}
 .btnbtn-primary{
    margin-top: 20px;
   height: 35px;
    width: 245px;
    color: black;
    background-color: plum;
 }
 h1{
    margin-top: 40px;
    color: brown;
 }                                                                                                                                   